body {
    padding: 0px;
    margin: 0px;
}

.checkout-container {
    display: flex;

}

.address-container {
    width: 50%;
    height: 60px;
    padding: 20px;
}

.payment-details {
    padding: 20px;
    width: 50%;
}

.address-table {
    border: 1px solid rgba(139, 138, 138, 0.664);
    padding: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 4px 6px -6px rgb(87, 87, 87);
            box-shadow: 0 4px 6px -6px rgb(87, 87, 87);
}

.checkout-fields {
    margin: 10px !important;
}

.payment-table {
    border: 1px solid rgba(139, 138, 138, 0.664);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0 4px 6px -6px rgb(87, 87, 87);
            box-shadow: 0 4px 6px -6px rgb(87, 87, 87);
}

.order-button {

    width: 30%;
    margin-top: 20px !important;
    margin-left: 11px !important;
}

.address-list{
    margin-top: 20px;
    border: 1px solid rgba(139, 138, 138, 0.664);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(99, 97, 97, 0.493);
    -webkit-box-shadow: 0 4px 6px -6px rgb(87, 87, 87);
            box-shadow: 0 4px 6px -6px rgb(87, 87, 87);
}
.address-card{
    margin-bottom: 30px;
}