.component{
    margin-top: 12px;
    background: #FFFFFF;
}
.category{
    display: flex;
    flex-direction: row;
    padding: '15px 20px';
}
.categoryText{

}
.wrapper{
    padding: '25px 15px';
    flex-direction: column;
}
.image{
    width: auto;
    height: 150px;
    margin-left: 20;
}
.text{
    font-size: 14px;
    margin-top: 5px;
    color: black;
}
.carousel{
    display: flex;
    flex-direction: column;
}